server {
        listen   80;

	server_name {{ item.value.server_name }};
	
        root /home/smo/drupal;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }


}
